src/main/resources/Test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Test" targetNamespace="urn:com.example.switchyard:soaptest:1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:com.example.switchyard:soaptest:1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:com.example.switchyard:soaptest:1.0" targetNamespace="urn:com.example.switchyard:soaptest:1.0" version="1.0">
<xs:element name="testIn" type="tns:testIn"/>
<xs:element name="testOut" type="tns:testOut"/>
<xs:complexType name="testIn">
    <xs:sequence>
      <xs:element minOccurs="0" name="in1" type="xs:string"/>
      <xs:element minOccurs="0" name="in2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="testOut">
    <xs:sequence>
      <xs:element minOccurs="0" name="out1" type="xs:string"/>
      <xs:element minOccurs="0" name="out2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="testMeResponse">
    <wsdl:part name="return" element="tns:testOut">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testMe">
    <wsdl:part name="arg0" element="tns:testIn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TestPortType">
    <wsdl:operation name="testMe">
      <wsdl:input name="testMe" message="tns:testMe">
    </wsdl:input>
      <wsdl:output name="testMeResponse" message="tns:testMeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestSoapBinding" type="tns:TestPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="testMe">
      <soap:operation soapAction="testMe" style="document"/>
      <wsdl:input name="testMe">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="testMeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Test">
    <wsdl:port name="TestPort" binding="tns:TestSoapBinding">
      <soap:address location="http://localhost:8080/soaptest/Test"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
